





#contact {

	background-color: green;
	

	overflow: hidden;
}
/*logo drzewko*/
img.rounded-circle{
	width: 21%;
	margin: 98px 0;
}
/*koniec loga*/
#contact .contact-data {
	width: 60%;
	float: left;
}

#contact .contact-data h2{
	color:white;
	text-align: left;
	font-size: 40px;
}

#contact .contact-data address{
	color:white;
	font-style: normal;
	margin: 2px 0;
	line-height: 25px;
	font-size: 22px;
}

#contact .contact-data address a{
	color:white;
}

#contact .contact-data .contact-social-icons a{
	display: inline-block;
	color: #fff;
	height: 48px;
	width: 48px;
	text-align: center;
	line-height:48px;
	border: 1px solid #fff;
	margin-right: 80px;
	font-size: 32px;
}

#contact .contact-data .contact-social-icons a:hover{
	color: #213b50;
	border: 1px solid #213b50;
	background-color: #fff;
}

#contact .contact-form {
	width: 60%;
	float: right;
	margin-top: 100px;
}

#contact .contact-form form input,
#contact .contact-form form textarea{
	width: 100%;
	padding: 15px;
	margin-bottom: 15px;
	background-color: white;
	border: #2b4a64 0px;
	color: green;
}

#contact .contact-form form input:focus,
#contact .contact-form form textarea:focus{
	background-color: white;
}

#contact .contact-form form input[type="submit"]{
	background-color: white;
	color: green;
	width: auto;
	text-transform: uppercase;
	font-weight: 600;
	padding: 15px 30px;
	float: right;
	border: 1px #1ac056 solid;
}

#contact .contact-form form input[type="submit"]:hover{
	background-color: #fff;
	color: #1ac056;
}

.btn {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}
a {
	color: white;
	font-weight: 600;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-o-transition: all .4s;
	-ms-transition: all .4s;
	transition: all .4s;
	text-decoration: none;
}
a.btn{
	color:white;
}
